body.modo-escuro{
    background-color: black;
    color: white;
}

body.modo-claro{
    background-color: white;
    color: black;
}



/* ------------input das cores */
.tema-constante{
    margin-bottom: 30px;
}

button{
    padding:  10px 15px;
    cursor: pointer;
}

input{
    padding: 8px;
    margin: 10px 0px;
}